<div class="container intro-container">
  <!-- <h3>{{ site.about_title | default: "About Me" }}</h3> -->
  <div class="row clearfix">
    {%- if site.about_profile_image -%}
      <!-- <div class="col-xs-12 col-sm-4 col-md-5 no-print">
        <span class="pub-img" style="background-image: url({{ include.item.pub-img | relative_url }})" />
      </div> -->
      <div class="col-xs-12 col-sm-4 col-md-5 no-print">
        <!-- <div class="pub-img" style="background-image: url({{ include.item.pub-img | relative_url }})" />
        </div> -->
        <div class="pub-img">
          <img src= "{{ include.item.pub-img | relative_url }}", width=300px>
        </div>
      </div>
    {%- endif -%}
    <div class="col-xs-12 col-sm-8 col-md-7 col-print-12">
      {{ include.item.citation | strip | markdownify }}
      {{ include.item.links | strip | markdownify }}
    </div>
  </div>
</div>


